<a href="https://colab.research.google.com/github/DanielMickB/pembelajaranmesin/blob/main/Praktikum1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
path="/content/drive/My Drive/Machine Learning/Suicide Rate.csv"
dataset=pd.read_csv(path)
dataset.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [ ]:
dataset.shape

(27820, 12)

In [ ]:
dataset.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [ ]:
dataset.max()

country                   Uzbekistan
year                            2016
sex                             male
age                        75+ years
suicides_no                    22338
population                  43805214
suicides/100k pop             224.97
country-year          Uzbekistan2014
HDI for year                   0.944
 gdp_for_year ($)        997,007,926
gdp_per_capita ($)            126352
generation                    Silent
dtype: object

In [ ]:
dataset.min()

country                         Albania
year                               1985
sex                              female
age                         15-24 years
suicides_no                           0
population                          278
suicides/100k pop                     0
country-year                Albania1987
HDI for year                      0.483
 gdp_for_year ($)     1,002,219,052,968
gdp_per_capita ($)                  251
generation                      Boomers
dtype: object

In [ ]:
dataset.describe()

               year   suicides_no  ...  HDI for year  gdp_per_capita ($)
count  27820.000000  27820.000000  ...   8364.000000        27820.000000
mean    2001.258375    242.574407  ...      0.776601        16866.464414
std        8.469055    902.047917  ...      0.093367        18887.576472
min     1985.000000      0.000000  ...      0.483000          251.000000
25%     1995.000000      3.000000  ...      0.713000         3447.000000
50%     2002.000000     25.000000  ...      0.779000         9372.000000
75%     2008.000000    131.000000  ...      0.855000        24874.000000
max     2016.000000  22338.000000  ...      0.944000       126352.000000

[8 rows x 6 columns]

In [ ]:
dataset.describe().loc['max','year']

2016.0

In [ ]:
dataset.describe()['suicides_no']['max']

22338.0

In [ ]:
data=dataset.dropna()

In [ ]:
data.shape

(8364, 12)

In [ ]:
dataset.dropna(axis=0,subset=['HDI for year'],inplace=True)

In [ ]:
data.shape

(8364, 12)

In [ ]:
#prediction target
y=data['country']
y

72          Albania
73          Albania
74          Albania
75          Albania
76          Albania
            ...
27815    Uzbekistan
27816    Uzbekistan
27817    Uzbekistan
27818    Uzbekistan
27819    Uzbekistan
Name: country, Length: 8364, dtype: object

In [ ]:
#feature select
Fitur=['country','suicides_no']
X=data[Fitur]
X

          country  suicides_no
72        Albania           13
73        Albania            9
74        Albania            2
75        Albania           13
76        Albania           11
...           ...          ...
27815  Uzbekistan          107
27816  Uzbekistan            9
27817  Uzbekistan           60
27818  Uzbekistan           44
27819  Uzbekistan           21

[8364 rows x 2 columns]