<a href="https://colab.research.google.com/github/DanielMickB/pembelajaranmesin/blob/main/Praktikum3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import numpy as np
import pandas as pd
path_="/content/drive/My Drive/Machine Learning/praktikum-03.csv"
dataset=pd.read_csv(path_)
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [105]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: int64(4), object(6)
memory usage: 528.0+ bytes

In [106]:
dataset["Customer Number"]=dataset["Customer Number"].astype('int')
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [107]:
def convert_currency(val):

  new_val=val.replace('.','').replace('$','')
  return float(new_val)

In [108]:
dataset['2016']=dataset['2016'].apply(convert_currency)
dataset['2017']=dataset['2017'].apply(convert_currency)

In [109]:
dataset.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [110]:
def convert_percent(val):
  new_val=val.replace('%','')
  return float(new_val)/100

In [111]:
dataset['Percent Growth']=dataset['Percent Growth'].apply(convert_percent)

In [112]:
dataset['Active']=np.where(dataset['Active']=='Y',True,False)

In [113]:
dataset

   Customer Number      Customer Name        2016  ...  Day  Year Active
0            10002   Quest Industries  12500000.0  ...   10  2015   True
1           552278     Smith Plumbing  92000000.0  ...   15  2014   True
2            23477    ACME Industrial   5000000.0  ...   29  2016   True
3            24900         Brekke LTD  35000000.0  ...   27  2015   True
4           651029          Harbor Co   1500000.0  ...    2  2014  False

[5 rows x 10 columns]

In [115]:
dataset['Jan Units']=pd.to_numeric(dataset['Jan Units'],errors='coerce').fillna(0)

In [118]:
pd.to_datetime(dataset[["Month","Day", "Year"]])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [119]:
dataset["Start Date"]=pd.to_datetime(dataset[["Month","Day", "Year"]])

In [120]:
dataset2=pd.read_csv(path_,
                     dtype={"Customer Number": "int"},
                     converters={"2016":convert_currency,
                                 "2017":convert_currency,
                                 "Percent Growth":convert_percent,
                                 "Jan Units": lambda x: pd.to_numeric(x,errors="coerce"),
                                 "Active": lambda x: np.where(x=="Y",True,False)
                                 })
dataset2.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object